<div class="ph2 mb0 <%= empty ? '' : 'dn' %>" id="monster-list-empty">
  <div class="measure center">
    <span class="db link ph2 pv3 ba bw2 b--black bg-white br3 fw6 shadow-2 tc">
      <img src='https://icon.now.sh/skull/555555/40' class="white" aria-hidden="true" />
      <h2 class="ma0 f3 lh-title mid-gray">No Results</h2>
    </span>
  </div>
</div>
