<article id="maincontent">
  <ul class="list ph2 mt2 " style="padding-top: 8px; margin-bottom: -8px;">
    <% @monsters.each do |monster| %>
      <li class="db measure center" style="margin-top:-8px;">
        <%= link_to monster.name, monster_path(monster), class: 'db link black ph2 pv3 hover-bg-washed-yellow ba bw2 b--black b bg-white br3 br--top b shadow-2' %>
        </a>
      </li>
    <% end %>
  </ul>
</article>
<div class="bg-black ph2 pv3 center shadow-2" style="width: 31rem;">
</div>