<%= content_for :search_bar do  %>
  <%= render 'search_bar' %>
<% end %>

<article id="monster-list" class="pt5 mt5">
  <ul class="list ph2 pb2 mb0" style="margin-top:0.6rem;">
    <% @monsters.each do |monster| %>
      <li class="db measure center" style="margin-top:-0.6rem;">
        <%= link_to monster.name, monster_path(monster), class: 'monster-name db link black ph2 pv3 hover-bg-washed-yellow ba bw2 b--black bg-white br3 fw6 shadow-2' %>
        </a>
      </li>
    <% end %>
  </ul>
  <p class="measure center tc">
    <a href="/pages/license/5e_SRD" class="black hover-bg-washed-yellow">License</a>
  </p>
</article>

<script>
  $(document).ready(function() {
    monsters.init();
  });
</script>

