<article id="main-content" class="mh0-ns mh2 mb2 mt5 tc">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2">
  <div class="tc"><img src='https://icon.now.sh/skull/555555/80' class="white" aria-hidden="true" /></div>
    <h2 class="mt0 mb2 f2 lh-title">404 Page Not Found</h2>
    <p class="i mt0 lh-copy ">The url you are trying to reach doesn't exist. If you think this is an error please drop us an email and let us know.</p>
    <p><a href="mailto:<%=t :support_email %>" class="black hover-bg-washed-yellow"><%=t :support_email %></a></p>
	</div>
</article>
