<article class="bw2 bt b--dark-green db fixed bg-green w-100 bottom-0 right-0 shadow-2 z-1" id="announcement" style="display:none;">
  <div class="pv1 ph3 f4-ns">
    <div class="">
      <div class="flex lh-copy-l pa3 ph0-l">
        <%= image_tag("tiny-promo.png", class: "ba bw1 bw3-ns b--white shadow-3 bg-white", height: "90", width: "90") %>
        <div class="pl3 flex-auto">
          <p class="fw6 mt0">
            <%=@announcement.text%>
          </p>
          <p class="mb0">
          <a class="link br2 ph2 pv2 mb2 dib bg-animate bg-black hover-bg-black white mr2" href="<%=@announcement.goto_path%>" target="_blank">Learn more</a>
          <a href="javascript:" id="dismiss-announcement" class="black dib">Hide</a>
        </p>
        </div>
      </div>
    </div>
  </div>
</article>

<% if (@announcement.goto_path != request.original_fullpath) %>
  <script>
    $(document).ready(function(){
      announcements.init("<%=@announcement.id%>");
    });
  </script>
<% end %>
