<section class="pv3 ph2 bb bw2 b--black bg-light-red">
  <div class="measure center">
    <div class="bg-white cf">
      <h2 class="clip">Filter by Challenge Rating</h2>
        <div id="cr-filter-slider"></div>
    </div>
  </div>
</section>