<form class="pv2 ph2 bb bw2  b--black bg-light-red">
  <fieldset class="tc cf bn pa0 measure">
    <div class="tc w-100">
      <h2>Filter CR</h2>
      <div id="cr-filter-slider"></div>
    </div>
  </fieldset>
</form>