<div id="primary-navigation" class="dn">
  <div class="measure center pt4-ns pb3-ns ph4-ns pa3 pb1">
  
  <h2 class="mt0 mb2 f3 lh-title pt2">Monster Cards</h2>
  <ul class="list pl0 f4 mt0">
    <li class="lh-copy bb bw1 b--black-20"><a href="/about" class="link light-red pv3 db underline-hover">About</a></li>
    <li class="lh-copy bb bw1 b--black-20"><a href="/change_log" class="link light-red pv3 db underline-hover">Changelog</a></li>
    <li class="lh-copy bb bw1 b--black-20"><a href="/physical_cards" class="link light-red pv3 db underline-hover">Kickstarter</a></li>
  </ul>

    <h2 class="mt0 mb2 f3 lh-title pt2"><%= @monster_set.system %></h1>
    <ul class="list pl0 f4 mt0">
      <li class="lh-copy bb bw1 b--black-20"><a href="/" class="link light-red pv3 db underline-hover">Monsters</a></li>
      <li class="lh-copy bb bw1 b--black-20"><a href="/favourites" class="link light-red pv3 db underline-hover">Favourites</a></li>
      <li class="lh-copy bb bw1 b--black-20"><%= link_to 'License', monster_set_license_path(MonsterSet.first), class: 'link light-red pv3 db underline-hover' %></li>
    </ul>
  </div>
</div>