<header class="fixed bg-black top-0 left-0 w-100 shadow-2 z-1">
  <nav class="measure center cf">
    <a class="link white dib fl ph2 pv3 underline-hover" href="/">
      <h1 class="f5 normal ma0">
      <%= @monster_set.system %> Monsters
      </h1>
    </a>
    <a class="link white dib fr ph2 pv3 js-modal underline-hover" href="" data-modal-prefix-class="primary-menu" data-modal-content-id="primary-navigation" data-modal-close-img="https://microicon-clone.vercel.app/x/FF725C/24" id="label_modal_6">Menu</a>
    <%= link_to 'Favourites', favourites_path, class: 'link white dib fr ph2 pv3 underline-hover' %>
  </nav>

  <%= yield :search_bar %>
  <%= yield :filter_menu if (params[:controller] == "monsters" && params[:action] == "index") %>
</header>