<h2 class="clip">Search</h2>
<form class="pv2 ph2 bg-light-red">
  <fieldset class="cf bn pa0">
    <div class="cf tc measure center">
      <label class="clip" for="search">Search</label>
      <input class="input-reset pa2 tc w-100 br3 ba bw2 b--black" placeholder="Find by Name" type="text" name="search" value="<%= params[:search] %>" id="search" autocomplete="off">
      <!-- hidden submit button for accessibility -->
      <input class="f6 button-reset pv1 bn bg-black white pointer br2 w-100 mt1 clip" type="submit" value="Search">
    </div>
  </fieldset>
</form>

