<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 lh-copy">
		<h2 class="mv0 f2 lh-title">About</h2>
		<h3 class="f3 lh-title">About Monster Cards</h3>
    <p>Monster Cards is an aid for game masters. You can use it to look up monster stats quickly. All the monsters listed right now are from the Dungeons and Dragons 5th edition SRD monster set. Eventually, we plan to add more decks of monster cards for other RPG games.</p>
    <p>For feedback, bug reports, or feature requests, contact us at !!! PUT EMAIL HERE !!!</p>
		<h3 class="f3 lh-title">About Us</h3>
		<p>Colin, Jonny, and Evan made this app together using the power of friendship. We play RPG games together in  Calgary, Alberta.</p>
    <p class="f6 lh-copy tr"><a href="/pages/change_log">Change log</a></p>
	</div>
</article>
