<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 lh-copy">
		<h2 class="mv0 f2 lh-title">About</h2>
    <p>Monster Cards is an aid for game masters. You can use it to look up monster stats quickly. All the monsters listed right now are from the Dungeons and Dragons 5th edition SRD monster set. Eventually, we plan to add more decks of monster cards for other RPG games.</p>

    <p>For feedback, bug reports, or feature requests, contact us at <a href="mailto:<%=t :support_email %>" class="black hover-bg-washed-yellow"><%=t :support_email %></a></p>

    <p>This site is a work in progress <a href="/change_log" class="black hover-bg-washed-yellow">view our changelog</a></p>
    
		<h3 class="f3 lh-title">Who Made This?</h3>
		<p>Colin, Jonny, and Evan made this app together using the power of friendship. We play RPG games together in Calgary, Alberta.</p>
		<p class="lh-copy"></p>
    <p>
      <a class="f6 link dim br2 ph3 pv2 mb2 dib white bg-light-red" href="https://www.buymeacoffee.com/monstercards">Buy us a coffee</a>
    </p>
		<p><%= image_tag "dms.png" %></p>
	</div>
</article>
