<article class="mh0-ns mh2 mb2 mt5">
	<h2 class="mv0 f2 lh-title">About</h2>
	<h3>About Monster Cards</h3>
	<p>This is an app for looking up RPG monster stats. Cool.
	<h3>About Us</h3>
	<p>Colin, Jonny, and Evan made this app together using Ruby on Rails, Tachyons CSS, a set of SRD monsters for 5e, and friendship.
</article>