<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 lh-copy">
		<h2 class="mv0 f2 lh-title">Changelog</h2>
    <p class="lh-copy ">For feedback, bug reports, or feature requests, contact us at [email]</p>
    <section class="bt bw2 b--black">
      <h3 class="f3 mb0 lh-title">Version 0.1 <time datetime="2017-03" class="f6 black-50">March 2017</time></h3>
      <ul class="">
        <li>Created the web application</li>
        <li>Added D&amp;D 5e monster data</li>
        <li>View information for each monster</li>
        <li>Search for monsters by name</li>
      </ul>
    </section>
  </div>
</article>
