<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 lh-copy">
		<h2 class="mv0 f2 lh-title">Changelog</h2>
    <p class="lh-copy ">For feedback, bug reports, or feature requests, contact us at <a href="mailto:<%=t :support_email %>" class="black hover-bg-washed-yellow"><%=t :support_email %></a></p>
    <section class="bt bw2 b--black">
      <h3 class="f3 mb0 lh-title">Version 0.2 <time datetime="2017-10" class="f6 black-50">October 2017</time></h3>
      <ul class="">
        <li>New <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18" height="18" viewBox="0 0 13 14" class="icon-favourite">
        <path d="M13 5.055q0 0.172-0.203 0.375l-2.836 2.766 0.672 3.906q0.008 0.055 0.008 0.156 0 0.164-0.082 0.277t-0.238 0.113q-0.148 0-0.312-0.094l-3.508-1.844-3.508 1.844q-0.172 0.094-0.312 0.094-0.164 0-0.246-0.113t-0.082-0.277q0-0.047 0.016-0.156l0.672-3.906-2.844-2.766q-0.195-0.211-0.195-0.375 0-0.289 0.438-0.359l3.922-0.57 1.758-3.555q0.148-0.32 0.383-0.32t0.383 0.32l1.758 3.555 3.922 0.57q0.438 0.070 0.438 0.359z"></path>
      </svg> to save monsters for later </li>
        <li>Changed the menu system</li>
        <li>Minor layout changes</li>
      </ul>
    </section>
    <section class="bt bw2 b--black">
      <h3 class="f3 mb0 lh-title">Version 0.1 <time datetime="2017-03" class="f6 black-50">March 2017</time></h3>
      <ul class="">
        <li>Created the web application</li>
        <li>Added D&amp;D 5e monster data</li>
        <li>View information for each monster</li>
        <li>Search for monsters by name</li>
      </ul>
    </section>
  </div>
</article>
