<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 lh-copy">
		<h2 class="mv2 f2 lh-title">Versions</h2>
    <section class="bt bb pa0">
      <h3 class="f3 mv1 lh-title">Version 0.1</h3>
      <h4 class="f5 mt1 mb2">March 2017</h4>
      <ul class="ma3">
        <li>Created the web application</li>
        <li>Added D&amp;D 5e monster data</li>
        <li>View information for each monster</li>
        <li>Search for monsters by name</li>
      </ul>
    </section>
  </div>
</article>
