<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 lh-copy">
    <h2 class="mv0 f3 lh-title">Kickstarter Coming Soon</h2>
    <p>We've been designing a deck of real cards!

    <p><%= image_tag "physical-card-front.png" %></p>

    <p class="pa3 bg-silver ba">[Insert better mockup]</p>
    <p class="pa3 bg-silver ba">[Insert another better mockup]</p>

    <ul class="pl3">
        <li>60 cards with stats for popular 5e monsters</li>
        <li>Large format (4”x6”) cards that are easy to read</li>
        <li>Original illustrations by <a href="https://www.artstation.com/amycornelson" class="blue">Amy Cornelson</a></li>
      </ul>

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="https://monstercards.us19.list-manage.com/subscribe/post?u=a290ecda5e45e7f79ea4623ee&amp;id=6ee5c842d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate bg-green center pa4 br2-ns ba b--black-10" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll" class="cf bn ma0 pa0">
        <legend class="pa0 f5 f4-ns fw6">Sign Up for Kickstarter Updates</legend>
        <small class="mb3 db i">No spam, we promise!</small>
        <div class="cf">
          <label class="clip" for="email-address">Email Address</label>
          <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-70-ns br2-ns br--left-ns" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a290ecda5e45e7f79ea4623ee_6ee5c842d9" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-30-ns br2-ns br--right-ns" type="submit" value="Subscribe">
        </div>
      </div>
    </form>
    </div>
    <!--End Mailchimp Signup Form-->

    <h3 class="f3 lh-title mb0">Why are we doing this?</h3>


    <p>We want to make a useful deck of Monster Cards to use at the game table.</p>
    
    <p>Our plan is to take some of the most commonly used monsters and make it dead simple to run them. Players encounter a band of goblins? No problem, you've got a quick reference with all the stats plus a couple quirks and names if you need them</p> 

    <p class="pa3 bg-silver ba b--near-white">[Insert Image of Goblin Card]</p>

    <p>We've been prototyping cards for months and have landed on a design that is easy to use at the table. The font size is comfortable, the layout is intuitive and we're putting big, awesome, original illustrations on the other side so you can show your players what their up against without giving away names or challenge ratings.</p>

    <p>If this sounds like something you want to own, sign up for our newsletter and you'll be one of the first to know when we go live.</p>
    
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="https://monstercards.us19.list-manage.com/subscribe/post?u=a290ecda5e45e7f79ea4623ee&amp;id=6ee5c842d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate bg-green center pa4 br2-ns ba b--black-10" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="cf bn ma0 pa0">
            <legend class="pa0 f5 f4-ns fw6">Sign Up for Kickstarter Updates</legend>
            <small class="mb3 db i">No spam, we promise!</small>
            <div class="cf">
              <label class="clip" for="email-address">Email Address</label>
              <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-70-ns br2-ns br--left-ns" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a290ecda5e45e7f79ea4623ee_6ee5c842d9" tabindex="-1" value=""></div>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-30-ns br2-ns br--right-ns" type="submit" value="Subscribe">
            </div>
          </div>
        </form>
        </div>
        <!--End Mailchimp Signup Form-->
 
</article>