<article id="main-content" class="mh0-ns mh2 mb2 mt5">
	<div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 lh-copy">
		<h2 class="mv0 f2 lh-title">Physical Monster Cards</h2>
		<p>Tell me all about your cool kickstart campaign</p>
		<p>Give me a chance to sign up for your wicked mailchimp list. I want your email marketing campaign to target me first!</p>
	</div>
</article>