<article id="main-content" class="mh0-ns mh2 mb2 mt5">
  <div class="pt4-ns pb3-ns ph4-ns pa3 pb1 center measure ba bw2 b--black br3 bg-white shadow-2 lh-copy">
  <h2 class="mv0 f2 lh-title"><%= @monster_set.license %></h2>
  <div><%= simple_format(@monster_set.license_text) %></div>
</article>

