body {
	/* triangle svg pattern */
	background-color: #e8fdf5;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2319a974' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.hidden {
  display: none
}

/* override tachyons style */
abbr[title] {
  text-decoration: none !important;
}

/* favourite icon */
.favourite-toggle.faved .icon-favourite {fill: #FFB700; stroke: none;}
.favourite-toggle.faved:hover .icon-favourite {fill: #FFB700; stroke: none;}

.favourite-toggle .icon-favourite {fill: none; stroke: #777;}
.favourite-toggle:hover .icon-favourite {fill:none;  stroke: #FFB700;}

/* favourite icon animation */
@keyframes faveIn { 
  0% { opacity:0; transform: scale(1.4); }
  50% { opacity:50%; transform: scale(0.9); }
  100% { opacity:1; transform: scale(1); } 
}

.faved {
    opacity: 0;  /* make things invisible upon start */
    animation: faveIn ease-out 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    animation-duration: .3s;
}

/* navigation icons */
header .icon-chevron-left {fill: white;}

/* van11y modal */

/* needed for old browsers */
dialog {
  display: block;
  border: 0;
}

/* removes scroll when modal is opened */
.no-scroll {
  overflow: hidden;
}

.primary-menu-modal-overlay[data-background-click="disabled"] {
  cursor: auto;
}

.primary-menu-modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: .8;
  z-index: 666;
  cursor: pointer;
}

.primary-menu-modal {
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 667;
  position: fixed;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  background: white; /* fallback CSS IE9 */
  padding: 0;
}
.primary-menu-modal-close {
  position: absolute;
  top: .75em;
  right: .75em;
  background: transparent;
  color: white;
  border: 0;
  cursor: pointer;
}

.primary-menu-modal  {
  animation: fadewhite ease 0.2s 1 normal ;
}

@keyframes fadewhite {
  0% {
    position: absolute;
    top: -100%;
    opacity: 0.2;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

/* no ui slider */

/* no overlapping handles */

.noUi-horizontal {
  padding-right: 13px;
  padding-left: 13px;
}

/* base styling */

.noUi-target {
  height: 10px;
  border: 2px solid black;
  background: white;
  border-radius: 0;
}

.noUi-connect {
  background: #19A974;
  border: none;
  border-radius: 0;
}

/* handle styling */

.noUi-horizontal .noUi-handle {
  height: auto;
  top: -14px;
  padding: 4px 0;
  border: 4px solid black;
  text-align: center;
  font-weight: 600;
  letter-spacing: -1px;
}

.noUi-handle:after, .noUi-handle:before {
  content: none;
}

.noUi-horizontal .noUi-handle small {
  font-size: 0.5rem;
}