<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Monster Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/a3bc059582.js"></script>
  </head>

  <body class="bg-light-gray">

    <nav class="pv3">
      <a href="#maincontent" class="link">Skip to Main Content</a>
    </nav>

    <header class="bg-black ph2 pv3 w-100 fixed top-0 right-0">
      <nav class="tc">
        <a class="link white dib fl absolute top-0 left-0 ph2 pv3" href="javascript:history.back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
        </a>
        <a class="link white dib" href="/"><h1 class="f5 normal ma0">D&D 5E SRD</h1></a>
      </nav>
    </header>

    <h2 class="clip">Search</h2>
    <form class="bg-light-silver ph2 pv2 db bb b--silver">
      <fieldset class="cf bn ma0 pa0">
        <div class="cf tc">
          <label class="clip" for="search">Search</label>
          <input class="f6 input-reset bn pa1 br2 dib w-90 tc fl" placeholder="Search Monsters" type="text" name="search" value="" id="search">
          <!-- hidden submit button for accessibility -->
          <input class="f6 button-reset pv1 bn bg-black white pointer br2 w-100 mt1 clip" type="submit" value="Search">
          <!-- hit this to bring up the list filtering pane/modal -->
          <a href="#" class="dib fl ml2 br2 link f4 white">
            <i class="fa fa-filter" aria-label="filter"></i>
          </a>
        </div>
      </fieldset>
    </form>

    <%= yield %>
  </body>
</html>
